<app-header-custom title="Administracion de" subtitle="Roles">
  <span class="material-icons icon"> category </span>
</app-header-custom>
<div class="mx-2 row justify-content-center">
  <div class="my-4 col-md-10">
    <div class="{{ ocultado }}">
      <div class="alert alert-danger" role="alert" *ngIf="roleList.length == 0">
        <strong class="text-center capitalize"
          >No hay roles para mostrar</strong
        >
      </div>
    </div>
    <div class="d-flex justify-content-end mx-1 my-1">
      <button
        class="btn-export-excel"
        (click)="downloadExcel()"
        *ngIf="!showSpinner"
      >
        <i class="fa fa-file-excel mx-1" aria-hidden="true"></i> Descargar Excel
      </button>
    </div>
    <app-spinner [show]="showSpinner"></app-spinner>
    <!-- <div *ngIf="!showSpinner && employeList.length != 0"> -->

      <div class="just-center">
    <div
      class="vtn-emergente"
      [ngStyle]="{ display: activeModal ? 'block' : 'none' }"
    >
      <app-form-role
        [show]="activeModal"
        [update]="activeUpdated"
        [data]="currentRole"
        (refreshList)="refreshList()"
        (closeModalEvent)="closeModal($event)"
      ></app-form-role>
    </div></div>

    <div class="{{ ocultado }}">
      <div style="overflow-x: auto">
        <table mat-table [dataSource]="dataSource" class="text-center">
          <!-- Position Column -->
          <ng-container matColumnDef="ID">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="text-center d-none-sm-max"
            >
              ID
            </th>
            <td mat-cell *matCellDef="let element" class="d-none-sm-max">
              {{ element.idRole }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Description
            </th>
            <td mat-cell *matCellDef="let element" class="">
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Actions
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex justify-content-center">
                <a
                  mat-mini-fab
                  color="primary"
                  class="mx-1"
                  (click)="editRoleInModal(element)"
                >
                  <mat-icon>edit</mat-icon>
                </a>
                <button
                  mat-mini-fab
                  color="warn"
                  (click)="deleteRole(element)"
                  class="mx-1"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [pageSizeOptions]="[3]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <div class="mgn-top_button t-center">
      <a
        mat-flat-button
        color="primary"
        class="my-2 text-white text-decoration-none"
        (click)="handlerClickRegister()"
      >
        Crear Rol
      </a>
    </div>

    <!-- <h2 mat-dialog-title>Delete all elements?</h2> -->
  </div>
</div>
