<div style="text-align: center">
    <a class="btn-cerrar" (click)="closeModal()"><span class="material-icons icon"> close </span></a>
    <form #productsForm="ngForm" id="form" class="row p-4 justify-content-center">

        <div class="col-md-12 grip-colums">
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label class="block">Empleado a registrar pago </mat-label>
                    <input matInput value="{{employee.firstName}} {{employee.lastName}}"
                        name="idReservation" readonly />
                </mat-form-field>
            </div>
            
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label class="block">Monto</mat-label>
                    <input matInput maxlength="150" min="10" [(ngModel)]="data.amount" #amount="ngModel" name="amount" required
                        minlength="1" type="number" />
                </mat-form-field>
                <div class="
                inline-flex
                items-center
                p-1
                px-2
                my-1
                text-xs
                leading-none
                text-gray-800
                bg-red-100
                rounded-full
                font-weight-bold
              " *ngIf="amount.invalid && (amount.dirty || amount.touched)">
                    <div class="" *ngIf="amount.errors?.required">
                        Se requiere un Monto
                    </div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Seleccionar un chofer</mat-label>
                    <select matNativeControl required #idDriver="ngModel" name="idDriver" [(ngModel)]="data.idDriver">
                        <option [value]="driver.idUser" *ngFor="let driver of drivers">
                            {{ driver.firstName }} {{ driver.lastName }}
                        </option>
                    </select>
                </mat-form-field>
                <div class="
              inline-flex
              items-center
              p-1
              px-2
              my-1
              text-xs
              leading-none
              text-gray-800
              bg-red-100
              rounded-full
              font-weight-bold
            " *ngIf="idDriver.invalid && (idDriver.dirty || idDriver.touched)">
                    <div class="" *ngIf="idDriver.errors?.required">
                        Seleccione un chofer
                    </div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Seleccionar vehículo</mat-label>
                    <select matNativeControl required #idVehicle="ngModel" name="idVehicle"
                        [(ngModel)]="data.idVehicle">
                        <option [value]="vehicle.idVehicle" *ngFor="let vehicle of vehicles">
                            {{ vehicle.plaque}}</option>
                    </select>
                </mat-form-field>

                <div class="
              inline-flex
              items-center
              p-1
              px-2
              my-1
              text-xs
              leading-none
              text-gray-800
              bg-red-100
              rounded-full
              font-weight-bold
            " *ngIf="idVehicle.invalid && (idVehicle.dirty || idVehicle.touched)">
                    <div class="" *ngIf="idVehicle.errors?.required">
                        Seleccione un Vehículo
                    </div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label class="block">Fecha de pago </mat-label>
                    <input matInput maxlength="150" [(ngModel)]="data.paymentDate" #paymentDate="ngModel"
                        name="paymentDate" required minlength="1" type="date" />
                </mat-form-field>
                <div class="
                    inline-flex
                    items-center
                    p-1
                    px-2
                    my-1
                    text-xs
                    leading-none
                    text-gray-800
                    bg-red-100
                    rounded-full
                    font-weight-bold
                  " *ngIf="paymentDate.invalid && (paymentDate.dirty || paymentDate.touched)">
                    <div class="" *ngIf="paymentDate.errors?.required">
                        Se requiere fecha de pago
                    </div>
                </div>
            </div>
        </div>
        
        <button mat-flat-button color="primary" class="text-white w-100 h6" (click)="createUpdatePayment()"
            [disabled]="!productsForm.form.valid">
            <i class="mr-2 fas fa-save"></i>{{ this.update ? "Actualizar" : "Guardar" }}
        </button>
    </form>
</div>