<!-- <div class="fondo"> -->
  <!-- <nav class="barraMenu">
    <a><img class="imgLogoBarra" src="../../../assets/LogoBarra.png" /></a>
    <a class="tituloBarra">PANEL ADMINISTRADOR</a>
    <a class="datosUserBarra">Aliaga Torres Gabriel</a>
  </nav> -->
  <div class="contenedor">
    <div class="contenedorOpciones">
      <div class="Opciones">
        <i class="fas fa-user-plus"></i>
        <button class="btnOpcion">Agregar Empleado</button>
      </div>
      <div class="Opciones">
        <i class="far fa-id-badge"></i>
        <button class="btnOpcion">Agregar Cargo</button>
      </div>
      <div class="Opciones">
        <i class="fas fa-route"></i>
        <button class="btnOpcion">Agregar Tarifas</button>
      </div>
      <div class="Opciones">
        <i class="fas fa-address-card"></i>
        <button class="btnOpcion">Ver Choferes</button>
      </div>
      <div class="Opciones">
        <i class="fas fa-file-contract"></i>
        <button class="btnOpcion">Ver Reporte</button>
      </div>
      <div class="Opciones">
        <i class="fas fa-user-plus"></i>
        <button class="btnOpcion">Agregar Empleado</button>
      </div>
      <div class="Opciones">
        <i class="fas fa-user-plus"></i>
        <button class="btnOpcion">Agregar Empleado</button>
      </div>
    </div>
  </div>
<!-- </div> -->
